.u-section-1 .u-sheet-1 {
  min-height: 563px;
}

.u-section-1 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 438px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-image: linear-gradient(#f2f2f2, #72efe9);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 109px;
}

.u-section-1 .u-image-1 {
  width: 315px;
  height: 378px;
  margin: 0 auto 0 21px;
}

.u-section-1 .u-text-1 {
  margin: -298px 21px 0 368px;
}

.u-section-1 .u-text-2 {
  margin: 63px 0 0 389px;
}

.u-section-1 .u-text-3 {
  margin: 21px 168px 0 389px;
}

.u-section-1 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 53px;
    padding-right: 53px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 77px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -341px;
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 106px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -344px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 116px;
    margin-right: 73px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -9px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-3 {
    width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -4px;
    margin-right: 42px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 20px;
  }
}